.square, 
.game-board {
    border: 2px solid black;
}

.game-board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.disabled {
    pointer-events: none;
}